# This is Git's per-user configuration file.
[user]
    name = Ryan Frame
    email = code@ryanjframe.com
[core]
    eol = lf
    autocrlf = false
    excludesfile = ~/.gitignore
    editor = vim
[alias]
    amend = commit --amend
    cp = cherry-pick
    dc = diff --cached
    lola = log --graph --decorate --pretty=oneline --abbrev-commit --all
    undo = reset HEAD~
[grep]
    lineNumber = true
[credential]
    helper = store
[pull]
	ff = only
